{% extends 'case/base.html' %}
{% block title %}Add a New Coordinate{% endblock %}
{% block cases_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Case Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                        <a href="{% url 'case:detail' case.id %}">
                            <h1>{{ case.watch_id }}</h1>
                        </a>
                    <h2>{{ case.victim_name }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Coordinate Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation"><a href="{% url 'case:detail' case.id %}">View All</a></li>
                <li role="presentation" class="active"><a href="{% url 'case:create_coordinate' case.id %}">Add New Coordinate</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a New Coordinate</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="case" value="{{ case }}">
                        {% include 'case/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}

