{% extends 'case/base.html' %}
{% block title %}{{ case }}{% endblock %}  {# to set the title #}
{% block cases_active %}active{% endblock %}  {# to set a nav menu to currently active #}

{% block body %}
<div class="container-fluid coordinates-container">

    <div class="row">
        <!-- Left side => Case Info -->
        <div class="col-md-5">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'case:detail' case.id %}">View All Coordinates</a></li>
                <li role="presentation"><a href="{% url 'case:create_coordinate' case.id %}">Add New Coordinate</a></li>
            </ul>
            <div class="panel panel-default">
                <div class="panel-body">
                    <table width="100%" style="border-bottom: hidden;">
                        <tr>
                            <td align="Center"><b>All Coordinates</b></td>
                            <td align="Center"><button type="button" class="btn btn-info" onclick="window.Refresh()">Refresh</button></td>
                        </tr>
                    </table>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table" id="coordinate_table">
                        <thead>
                        <tr>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Received On</th>
                            <th>Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div hidden name="map_coord" id="map_coord">{{ first_coord }}</div>
                        {% for coord_ in coord_arr %}
                            <tr>
                                <td>{{ coord_.latitude }}</td>
                                <td>{{ coord_.longitude }}</td>
                                <td>{{ coord_.date_created }}</td>
                                <td>
                                    {#                  TODO                  <a href="{% url 'case:favorite' coordinate.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if coordinate.is_favorite %}active{% endif %}"></span></a>#}
                                </td>
                                <td>
                                    {#                  TODO - Add code for comments here                  #}
                                    {#                                    <form action="{% url 'case:delete_song' case.id song.id %}" method="post" style="display: inline;">#}
                                    {#                                        {% csrf_token %}#}
                                    {#                                        <input type="hidden" name="song_id" value="{{ song.id }}" />#}
                                    {#                                        <button type="submit" class="btn btn-danger btn-xs">#}
                                    {#                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete#}
                                    {#                                        </button>#}
                                    {#                                    </form>#}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

        <!-- Right side => Display Map -->
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>
                        Watch ID: {{ case.watch_id }} <br>
                    </h3>
                    <h3>
                        <b>Victim Name: </b>{{ case.victim_name }}
                    </h3>
                    {#         Add map template here, to show the map           #}
                    {% include 'case/map.html' %}
                </div>
            </div>
        </div>

    </div>

</div>
<script>
    function refreshMap() {
        calculateAndDisplayRoute(directionsService, directionsDisplay,a,b,c,d);
    }

    var res;
    function Refresh() {
        $.get('{% url 'case:detail_json' case.id %}', function(response, status){
            // alert("Data: " + response + "\nStatus: " + status);
            // convert string to JSON
            response = $.parseJSON(response);
            res = response;
            var htm = '';
            $.each(res, function(i, item) {
                htm += '<tr><td>' + item.lat + '</td><td>' + item.lng + '</td><td>' + item.date + '</td></tr>';
            });
            $('#coordinate_table').find("tr:gt(0)").remove(); {# clear the table first #}
            $('#coordinate_table').append(htm); {# populate the table with new values #}

            c = parseFloat(res[0].lat);
            d = parseFloat(res[0].lng);
            refreshMap();
        });
    }

    setInterval(Refresh, 3000); {# Refetech coordinates every five seconds #}
</script>
{% endblock %}
